In [1]:
import torch

prompt_lens = 128
gen_lens = prompt_lens + 128

from util import TokenizerUtil

tokenizer = TokenizerUtil()

input_ids, _ = tokenizer.encode('how are you', max_length=6)

input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

input_ids, attention_mask, tokenizer.decode(input_ids)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

(tensor([128002, 128002, 128000,   5269,    527,    499]),
 tensor([0, 0, 1, 1, 1, 1]),
 '<|reserved_special_token_0|><|reserved_special_token_0|><|begin_of_text|>how are you')

In [2]:
from datasets import load_dataset
from transformers import default_data_collator

dataset = load_dataset('json', data_files='dataset/train.json', split='train')

#2,4,4切分,取最后一部分
dataset = dataset.select(range(45000, len(dataset)))


def f(data):
    input_ids, _ = tokenizer.encode(data['prompt'], max_length=prompt_lens)
    input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

    return {'input_ids': input_ids, 'attention_mask': attention_mask}


dataset = dataset.map(f, remove_columns=dataset.column_names)

loader = torch.utils.data.DataLoader(dataset,
                                     collate_fn=default_data_collator,
                                     batch_size=4,
                                     shuffle=True,
                                     drop_last=True)

len(loader), next(iter(loader)).keys()

Map:   0%|          | 0/28577 [00:00<?, ? examples/s]

(7144, dict_keys(['input_ids', 'attention_mask']))

In [3]:
%run 1.model.ipynb

model_actor = torch.load('model/actor')
model_actor.train()

optimizer_actor = torch.optim.Adam(model_actor.parameters(), lr=2e-6)

In [4]:
class CriticModel(torch.nn.Module):

    def __init__(self):
        super().__init__()
        self.rwtransformer = None
        self.v_head = None

    def get_value(self, input_ids, attention_mask):
        value = self.rwtransformer(input_ids=input_ids,
                                   attention_mask=attention_mask)
        return self.v_head(value).squeeze(2)

    def get_reward(self, input_ids, attention_mask):
        value = self.get_value(input_ids, attention_mask)

        reward = []
        for i, v in zip(input_ids, value):
            end = input_ids.shape[1] - 1
            if tokenizer.eos_token_id in i:
                end = i.tolist().index(tokenizer.eos_token_id)
            reward.append(v[end])
        reward = torch.stack(reward)

        return reward


model_critic = torch.load('model/critic')
model_critic.train()

optimizer_critic = torch.optim.Adam(model_critic.parameters(), lr=5e-5)

In [5]:
from accelerate import Accelerator

model_ref = torch.load('model/actor')
model_reward = torch.load('model/critic')

model_ref.eval()
model_reward.eval()

accelerator = Accelerator(gradient_accumulation_steps=1,
                          mixed_precision='fp16')

(loader, model_actor, optimizer_actor, model_critic, optimizer_critic,
 model_ref, model_reward) = accelerator.prepare(loader, model_actor,
                                                optimizer_actor, model_critic,
                                                optimizer_critic, model_ref,
                                                model_reward)

Detected kernel version 3.10.0, which is below the recommended minimum of 5.5.0; this can cause the process to hang. It is recommended to upgrade the kernel to the minimum version or higher.

In [6]:
from util import get_generate as get_generate_util


def get_generate(input_ids):
    generate = get_generate_util(model_actor,
                                 input_ids,
                                 tokenizer.eos_token_id,
                                 tokenizer.pad_token_id,
                                 max_length=gen_lens)
    lens = (generate[:, prompt_lens:] != tokenizer.pad_token_id).sum(1)
    return generate[lens > 1]


data = next(iter(loader))

for i in get_generate(data['input_ids']):
    print(tokenizer.decode(i[prompt_lens:]))
    print('================')

select count(AVERAGE) from TABLE_NAME_54 where AVG_GOWN < 21. 8 and AVG_GOWN < 9. 8 and AVERAGE < 9.9<|end_of_text|>
================
SELECT score FROM table_name_31 WHERE competition = "2000 afc asian cup"<|end_of_text|>
================
SELECT opponent FROM table_name_70 WHERE date = "april 15, 1981"<|end_of_text|>
================
SELECT format FROM table_name_80 WHERE station = "mike"<|end_of_text|>
================

In [7]:
def get_prob(prob, index):
    prob = prob.log_softmax(dim=2)
    prob = prob.gather(dim=2, index=index.unsqueeze(2))
    return prob.squeeze(2)


get_prob(torch.randn(4, 123, 999), torch.randint(0, 999, (4, 123))).shape

torch.Size([4, 123])

In [8]:
last_generate = None


@torch.no_grad()
def get_batch(input_ids, attention_mask):
    #input_ids -> [b, prompt_lens]
    #attention_mask -> [b, prompt_lens]
    global last_generate

    #根据问题生成回答
    #[b, gen_lens]
    generate = get_generate(input_ids)

    #制作缓存,防止所有回答为空的情况
    if len(generate):
        last_generate = generate
    else:
        generate = last_generate

    #[b, gen_lens]
    generate_mask = (generate != tokenizer.pad_token_id).long()

    #两个模型分别取回答被预测到的概率
    #[b, gen_lens-1]
    _, prob_old = model_actor(input_ids=generate, attention_mask=generate_mask)
    prob_old = get_prob(prob_old[:, :-1], generate[:, 1:])

    #取每个词的value
    #[b, gen_lens-1]
    value_old = model_critic.get_value(generate, generate_mask)[:, :-1]

    #[b, gen_lens-1]
    _, prob_ref = model_ref(input_ids=generate, attention_mask=generate_mask)
    prob_ref = get_prob(prob_ref[:, :-1], generate[:, 1:])

    #取回答的分数
    #[b]
    reward = model_reward.get_reward(generate, generate_mask)

    return generate, generate_mask, prob_old, prob_ref, value_old, reward


generate, generate_mask, prob_old, prob_ref, value_old, reward = get_batch(
    **data)

generate.shape, generate_mask.shape, prob_old.shape, prob_ref.shape, value_old.shape, reward.shape

(torch.Size([4, 167]),
 torch.Size([4, 167]),
 torch.Size([4, 166]),
 torch.Size([4, 166]),
 torch.Size([4, 166]),
 torch.Size([4]))

In [9]:
def get_reward_kl(end, prob_old, prob_ref, reward):
    #prob_old -> [b, gen_lens-1]
    #prob_ref -> [b, gen_lens-1]
    #reward -> [b]

    #两份预测概率求kl散度
    #[b, gen_lens-1]
    reward_kl = -0.1 * (prob_old - prob_ref)

    #把原本的reward加在kl散度的最后一个字上
    for i, e in enumerate(end):
        if e >= reward_kl.shape[1]:
            e = -1
        reward_kl[i, e] += reward[i].clamp(-5, 5)

    #[b, gen_lens-1]
    return reward_kl


end = generate_mask[:, prompt_lens:].sum(1) + prompt_lens - 1
end = end.tolist()

reward_kl = get_reward_kl(end, prob_old, prob_ref, reward)

reward_kl.shape

torch.Size([4, 166])

In [10]:
#解释见原版代码中的get_delta_note函数
def get_delta(value_old, reward_kl):
    #value_old -> [b, gen_lens-1]
    #reward_kl -> [b, gen_lens-1]

    #gen_lens-2 -> prompt_lens-1
    delta = []
    for i in reversed(range(prompt_lens - 1, value_old.shape[1])):
        #[b]
        value_next = 0.0
        if i != value_old.shape[1] - 1:
            value_next = value_old[:, i + 1]

        #[b]
        d = reward_kl[:, i] + value_next - value_old[:, i]
        if len(delta):
            d += 0.95 * delta[-1]
        delta.append(d)

    #[b, gen_lens-prompt_lens]
    delta = torch.stack(delta[::-1], dim=1)

    return delta


delta = get_delta(value_old, reward_kl)

delta.shape

torch.Size([4, 39])

In [11]:
def get_loss_actor(prob_new, prob_old, delta, generate_mask):
    prob_new = prob_new[:, prompt_lens - 1:]
    prob_old = prob_old[:, prompt_lens - 1:]
    generate_mask = generate_mask[:, prompt_lens:]

    #prob_new -> [b, gen_lens-prompt_lens]
    #prob_old -> [b, gen_lens-prompt_lens]
    #delta -> [b, gen_lens-prompt_lens]
    #generate_mask -> [b, gen_lens-prompt_lens]

    #对数概率,求差就是求商,所以这里求的是新旧概率的变化率
    #[b, gen_lens-prompt_lens]
    ratio = ((prob_new - prob_old) * generate_mask).exp()

    #delta是估计出来的去基线Q值,以变化率来缩放Q值
    #最大化Q值,以此来寻找最优的actor
    #裁剪,防止自举
    #[b, gen_lens-prompt_lens]
    loss1 = delta * ratio
    loss2 = delta * ratio.clamp(0.8, 1.2)
    loss = torch.min(loss1, loss2) * generate_mask
    loss = loss.sum() / generate_mask.sum()
    return -loss


loss_actor = get_loss_actor(prob_old, prob_old, delta, generate_mask)

loss_actor

tensor(1.3530, device='cuda:0')

In [12]:
def get_loss_critic(value_new, value_old, delta, generate_mask):
    value_new = value_new[:, prompt_lens - 1:]
    value_old = value_old[:, prompt_lens - 1:]
    generate_mask = generate_mask[:, prompt_lens:]

    #value_new -> [b, gen_lens-prompt_lens]
    #value_old -> [b, gen_lens-prompt_lens]
    #delta -> [b, gen_lens-prompt_lens]
    #generate_mask -> [b, gen_lens-prompt_lens]

    #delta是估计出来的去基线Q值,加上value_old后还原为Q值
    #value_new和Q值求mse loss即可,因为value都是对Q函数的估计
    #裁剪,防止自举
    #[b, gen_lens-prompt_lens]
    loss1 = (value_new - delta - value_old)**2
    value_new = value_new.clamp(value_old - 0.2, value_old + 0.2)
    loss2 = (value_new - delta - value_old)**2

    #求平均
    loss = torch.max(loss1, loss2) * generate_mask
    loss = loss.sum() / 2 / generate_mask.sum()

    return loss


loss_critic = get_loss_critic(value_old, value_old, delta, generate_mask)

loss_critic

tensor(7.4272, device='cuda:0')

In [13]:
def train(generate, generate_mask, prob_old, prob_ref, value_old, reward):
    #generate -> [b, gen_lens]
    #generate_mask -> [b, gen_lens]
    #prob_old -> [b, gen_lens-1]
    #prob_ref -> [b, gen_lens-1]
    #value_old -> [b, gen_lens-1]
    #reward -> [b]

    #求出每句话结束的索引
    #[b]
    end = generate_mask[:, prompt_lens:].sum(1) + prompt_lens - 1
    end = end.tolist()

    #结束以后的value归零
    for i, e in enumerate(end):
        value_old[i, e + 1:] = 0

    with torch.no_grad():
        #计算新旧概率的kl散度,再把reward加在最后一个字上
        #[b, gen_lens-1]
        reward_kl = get_reward_kl(end, prob_old, prob_ref, reward)

        #估计去基线的Q值
        #[b, gen_lens-prompt_lens]
        delta = get_delta(value_old, reward_kl)

    #重新计算回答被生成的概率
    #[b, gen_lens-1]
    _, prob_new = model_actor(input_ids=generate, attention_mask=generate_mask)
    prob_new = get_prob(prob_new[:, :-1], generate[:, 1:])

    #重新计算每个词的value
    #[b, gen_lens-1]
    value_new = model_critic.get_value(input_ids=generate,
                                       attention_mask=generate_mask)[:, :-1]

    with accelerator.accumulate(model_actor, model_critic):
        #更新actor
        loss_actor = get_loss_actor(prob_new, prob_old, delta, generate_mask)
        accelerator.backward(loss_actor)
        if accelerator.sync_gradients:
            accelerator.clip_grad_norm_(model_actor.parameters(), 1.0)
        optimizer_actor.step()
        optimizer_actor.zero_grad()

        #更新critic
        loss_critic = get_loss_critic(value_new, value_old, delta,
                                      generate_mask)
        accelerator.backward(loss_critic)
        if accelerator.sync_gradients:
            accelerator.clip_grad_norm_(model_critic.parameters(), 1.0)
        optimizer_critic.step()
        optimizer_critic.zero_grad()

        return loss_actor.item(), loss_critic.item()


train(generate, generate_mask, prob_old, prob_ref, value_old, reward)

(-2.1609959602355957, 17.055959701538086)

In [14]:
for i, data in enumerate(loader):
    #生成数据
    (generate, generate_mask, prob_old, prob_ref, value_old,
     reward) = get_batch(**data)

    #训练
    loss_actor, loss_critic = train(generate, generate_mask, prob_old,
                                    prob_ref, value_old, reward)

    if (i + 1) % 50 == 0:
        print(i, len(loader), loss_actor, loss_critic, reward[0].item())
        print(tokenizer.decode(generate[0, prompt_lens:]))

torch.save(model_actor.to('cpu'), 'model/rlhf')

49 7144 -0.10152655839920044 0.007377683650702238 10.897445678710938
select max(SEASON__NUMBER) from TABLE_17311720_1 where DIRECTED_BY = "cHRIS mARLES"<|end_of_text|>
99 7144 0.09240681678056717 0.00518863694742322 11.355960845947266
select CANDIDATES from TABLE_1348_5 where INCUMBENT = "cON rACING"<|end_of_text|>
149 7144 -0.29071927070617676 0.046924393624067307 10.408658981323242
select 2 as ND_LEG from TABLE_NAME_41 where HOME__2_ = "2"<|end_of_text|>
199 7144 0.012671473436057568 0.003083077259361744 11.179220199584961
select TO_PAR from TABLE_NAME_43 where PLAYER = "JANIA PARK"<|end_of_text|>
249 7144 0.03380975127220154 0.00437870854511857 9.90336799621582
select SCOTT from TABLE_1463_1 where ALBUM = "28.7%"<|end_of_text|>
299 7144 -0.10339976102113724 0.00850830227136612 11.192331314086914
select DOCUMENT_ID, CUSTOMER_ID from CUSTOMERSON where PRODUCT_NAME = 'cON'<|end_of_text|>
349 7144 -0.06394381076097488 0.004041989333927631 9.919631004333496
select t1.nAME from sTUid from sTUid as t1 join PUBLISITS as t2 on t1.aIRCRAFT_id = t2.aIRCRAFT_id<|end_of_text|>
399 7144 -0.11246895790100098 0.008120180107653141 8.710592269897461
select count(POPULATION__2002_) from TABLE_2562572_2 where OFFICIAL_NAME = "sTOMAS"<|end_of_text|>
449 7144 -0.030108820647001266 0.0018139302264899015 10.232248306274414
select DRIVER from TABLE_NAME_21 where CAPACITY < 0 and TOTAL_TIME = "0:29"<|end_of_text|>
499 7144 -0.02339174412190914 0.002733333734795451 10.590965270996094
select VACATOR from TABLE_22597626_4 where SUCCESSOR = "cHARLES"<|end_of_text|>
549 7144 0.07866242527961731 0.004019636195152998 10.200884819030762
select POSITION from TABLE_1013129_1 where NHL_TEAM = "cHOLLEGE"<|end_of_text|>
599 7144 -0.03007383830845356 0.001818586839362979 11.830705642700195
select max(FIRST_ELECTED) from TABLE_NAME_87 where DISTRICT = "17"<|end_of_text|>
649 7144 -0.030533676967024803 0.0021917351987212896 10.789125442504883
select DATE from TABLE_NAME_68 where LOSS = "WON (3–3–3)"<|end_of_text|>
699 7144 -0.0390106700360775 0.0017287522787228227 10.763082504272461
select max(NUMBER) from TABLE_NAME_89 where OPPONENT = "ROITTSBURG" and TIME = "2"<|end_of_text|>
749 7144 -0.08597663044929504 0.005793377757072449 11.442439079284668
select SCOTT from TABLE_13564702_1 where EPISODE = "3"<|end_of_text|>
799 7144 0.0430031418800354 0.0017357837641611695 12.11416244506836
select FORMAT from TABLE_NAME_32 where LABEL = "MONTON"<|end_of_text|>
849 7144 0.026788562536239624 0.0013784168986603618 11.47962760925293
select max(ATTENDANCE) from TABLE_NAME_28 where DATE = "MAY 2"<|end_of_text|>
899 7144 0.08892128616571426 0.006180449388921261 9.294508934020996
select CITY from TABLE_NAME_6 where CITY = "UNITED STATES" and LEAGUE = "MONTON" and LEAGUE = "MONTON"<|end_of_text|>
949 7144 0.11311932653188705 0.007029132917523384 10.756914138793945
select HOME_TEAM from TABLE_NAME_32 where VENUE = "MCG"<|end_of_text|>
999 7144 0.07670667767524719 0.004469483625143766 10.982146263122559
select TRY_BONUS from TABLE_NAME_17 where TRY_BONUS = "19"<|end_of_text|>
1049 7144 0.02782813087105751 0.0010201160330325365 10.0775146484375
select QUAL_2 from TABLE_NAME_80 where TEAM = "D" and NAME = "JANU"<|end_of_text|>
1099 7144 -0.030072523280978203 0.0019204510608687997 8.86152172088623
select OUTCOME from TABLE_NAME_68 where TOURNAMENT = "JAPANIA PARK" and OPPONENT_IN_THE_FINAL = "JANIA"<|end_of_text|>
1149 7144 -0.14820726215839386 0.013219152577221394 8.470483779907227
select sum(LOSSES) from TABLE_NAME_27 where SCORE = "1996" and SCORE = "HON 16" and YEAR > 1996<|end_of_text|>
1199 7144 0.079668328166008 0.004239857662469149 9.522859573364258
select RES from TABLE_NAME_43 where TIME = "5:49" and RECORD = "14-4"<|end_of_text|>
1249 7144 -0.008736355230212212 0.00042475489317439497 9.767129898071289
select max(YEAR) from TABLE_NAME_35 where START = "1" and CHASSIS = "1"<|end_of_text|>
1299 7144 0.28242409229278564 0.09400592744350433 10.948833465576172
select AWAY_TEAM from TABLE_NAME_27 where VENUE = "MCG"<|end_of_text|>
1349 7144 0.07716966420412064 0.009028095752000809 11.537817001342773
select RECORD from TABLE_NAME_84 where ATTENDANCE = "30,405"<|end_of_text|>
1399 7144 0.0498419888317585 0.0031632462050765753 9.68447208404541
select land density__KM²_) from TABLE_18600760_12 where LATITUDE = "1890"<|end_of_text|>
1449 7144 0.2163388878107071 0.05389932170510292 8.644218444824219
select max(TON__1990_) from TABLE_1990_5 where JUMP__1990__ = "1990 (1990)"<|end_of_text|>
1499 7144 0.03659423813223839 0.0010917214676737785 12.616558074951172
select SCORE from TABLE_NAME_6 where COUNTRY = "UNITED STATES"<|end_of_text|>
1549 7144 0.008786022663116455 0.0001894319721031934 11.99473762512207
select max(TOP_10) from TABLE_1877_1<|end_of_text|>
1599 7144 -0.01159511599689722 0.0040317862294614315 10.661628723144531
select LOCATION from TABLE_1173401_1 where DENSITY__ = "8"<|end_of_text|>
1649 7144 -0.02407923713326454 0.15489667654037476 6.683269023895264
select count(8) from TABLE_NAME_83 where SEASON < 8.69 and AVERAGE > 1.4 and YEAR < 2008<|end_of_text|>
1699 7144 0.03673215210437775 0.0034265758004039526 9.144062042236328
select COMPETITION from TABLE_NAME_77 where COMPETITION = "4.89" and TIME = "4.89"<|end_of_text|>
1749 7144 -0.4123505651950836 0.27305036783218384 8.763832092285156
select DOMIN__2002_ from TABLE_2562572_9 where OFFICIAL_NAME = "bILLAGE"<|end_of_text|>
1799 7144 -0.008100165985524654 0.00027683578082360327 11.416278839111328
select DATE from TABLE_NAME_43 where RECORD = "21-11"<|end_of_text|>
1849 7144 0.06107572838664055 0.007666073273867369 8.615579605102539
select COUPLE from TABLE_22871268_2 where MEDIAN_FAMILY_INCOME = "$20,000,000,000,000"<|end_of_text|>
1899 7144 -0.05834510549902916 0.0029413404408842325 11.336402893066406
select POLES from TABLE_27293250_1 where POINTS = "0" and NATION = "0"<|end_of_text|>
1949 7144 -0.00459726108238101 0.0015685647958889604 8.824399948120117
select POINTS from TABLE_NAME_24 where LOST = "6" and TRY_BONUS = "9"<|end_of_text|>
1999 7144 0.08629012852907181 0.005729787051677704 11.847883224487305
select DATE from TABLE_NAME_90 where GAME_SITE = "MAY"<|end_of_text|>
2049 7144 -0.003188212402164936 0.0021421790588647127 9.443138122558594
select ENGLISH_TITLE from TABLE_NAME_3 where RANK = "7" and RANK < 32<|end_of_text|>
2099 7144 0.028313230723142624 0.00731281004846096 10.768689155578613
select LAUNCHED from TABLE_NAME_5 where DATES = "23%"<|end_of_text|>
2149 7144 -0.04236389696598053 0.003812660463154316 11.688291549682617
select CLASS from TABLE_NAME_8 where FREQUENCY = "90.1"<|end_of_text|>
2199 7144 -0.07363487780094147 0.004472977016121149 11.548667907714844
select DATE from TABLE_NAME_76 where LABEL = "MONTON"<|end_of_text|>
2249 7144 -0.09656210243701935 0.010408852249383926 12.138955116271973
select count(NUMBER) from TABLE_23274581_10 where NO = 9<|end_of_text|>
2299 7144 0.005070891696959734 0.00775165343657136 10.706541061401367
select ATHLETE from TABLE_22355_20 where NATION = "tHON (J) 7 and NATION = "7.0"<|end_of_text|>
2349 7144 -0.05739495903253555 0.00264498102478683 11.691225051879883
select SCHOOL from TABLE_11677691_18 where HOMETOWN = "sEALAND, mIC"<|end_of_text|>
2399 7144 0.024771470576524734 0.002012866549193859 9.868938446044922
select DOCUMENT_ID from sTUDENT_tYPE_cODE) from sTUid<|end_of_text|>
2449 7144 0.018327083438634872 0.00419952068477869 12.613118171691895
select CATALOG from TABLE_NAME_72 where LABEL = "MONTON"<|end_of_text|>
2499 7144 -0.021764513105154037 0.0004416300216689706 11.614355087280273
select RESULT from TABLE_NAME_39 where OPPONENT = "MAY"<|end_of_text|>
2549 7144 0.04661961644887924 0.0032301272731274366 10.706928253173828
select count(CAP) from TABLE_22162482_1 where CLUB = "cONTO mIC"<|end_of_text|>
2599 7144 -0.12635162472724915 0.011984455399215221 9.386800765991211
select max(NUMBER_OF_DANCES) from TABLE_13079779_1 where SCOR = "aND"<|end_of_text|>
2649 7144 0.05961296334862709 0.004078642465174198 11.476249694824219
select sum(MONEY___) as $__ from TABLE_NAME_99 where PLAYER = "JAN"<|end_of_text|>
2699 7144 0.03732531517744064 0.0016804486513137817 11.124565124511719
select TEAM from TABLE_NAME_54 where STAGE = "9"<|end_of_text|>

2749 7144 0.0821671336889267 0.0038253075908869505 11.752277374267578
select VENUE from TABLE_NAME_57 where HOME_TEAM = "MAY"<|end_of_text|>
2799 7144 0.0790843665599823 0.004348687827587128 8.7584228515625
select GT2_WINNING_TEAM from TABLE_12159168_2 where GT1_WINNING_TEAM = "cONTO"<|end_of_text|>
2849 7144 -0.016536198556423187 0.0019114071037620306 11.290727615356445
select SET_2 from TABLE_NAME_42 where TOTAL = "45–45"<|end_of_text|>
2899 7144 -0.011421989649534225 0.0013112911256030202 12.513911247253418
select sTUid from sTUid where sTUid = 'pID'<|end_of_text|>
2949 7144 -0.020961560308933258 0.00384416151791811 6.734859466552734
select max(PICK__NUMBER) from TABLE_NAME_67 where OVERALL > 5 and POSITION = "JANIA" and OVERALL > 5<|end_of_text|>
2999 7144 0.01602778024971485 0.004078662488609552 10.777851104736328
select COMPETITION from TABLE_NAME_27 where POSITION = "5TH"<|end_of_text|>
3049 7144 -0.029689468443393707 0.0012230310821905732 10.220989227294922
select STADIUM from TABLE_14102379_4 where RECORD = "1–1"<|end_of_text|>
3099 7144 0.00374001357704401 0.0011714512947946787 11.99830150604248
select max(distinct sTUid) from sTUid<|end_of_text|>
3149 7144 -0.04741150513291359 0.001520060934126377 11.12118911743164
select TRIES from TABLE_NAME_10 where DATE = "14/14/1986"<|end_of_text|>
3199 7144 -0.03076251968741417 0.0015648951521143317 11.47063159942627
select max(TON) from TABLE_29584047_2 where H = 0<|end_of_text|>
3249 7144 -0.040355030447244644 0.0013855069410055876 8.127304077148438
select LEAGUE_CUP_APPS from TABLE_NAME_50 where LEAGUE_CUP_APPS > 12 and LEAGUE_CUP_APPS = 1<|end_of_text|>
3299 7144 -0.02369639463722706 0.002656952477991581 7.319034099578857
select t2.NAME from sTUid as t1 join sTUid as t2 on t1.aIRCRAFT_id = t2.aIRCRAFT_id join sTUid as t2 on t1.aIRCRAFT_id = t2.aIRCRAFT_id where t2.LOT = 'cON rATING'<|end_of_text|>
3349 7144 0.06921061873435974 0.0030835617799311876 10.785221099853516
select PLAYOFFS from TABLE_13079716_1 where PTS_BONUS = "106"<|end_of_text|>
3399 7144 -0.013449652120471 0.0010042088106274605 11.365652084350586
select count(RESULT) from TABLE_17737008_1 where WEEK = 13<|end_of_text|>
3449 7144 -0.02169591747224331 0.0009032042580656707 10.99892520904541
select QUAL from TABLE_NAME_64 where FINISH = "16" and YEAR = "16"<|end_of_text|>
3499 7144 0.06469401717185974 0.003100807312875986 10.717169761657715
select HIGH_ASSISTS from TABLE_NAME_64 where RECORD = "2-4"<|end_of_text|>
3549 7144 -0.08355050534009933 0.006342462729662657 9.674969673156738
select WINNER from TABLE_NAME_89 where NOTES = "1" and VENUE = "MAY"<|end_of_text|>
3599 7144 0.0989551767706871 0.04414002224802971 3.7261388301849365
select t1.LOT_ID, t2.NAME from tEES as t1 join sTUDENT_cODE) from tEES as t1 join sTUDENT_cODES as t2 on t1.COURSE_ID = t2.cODE_ID where t2.LOT_ID = 'cON'<|end_of_text|>
3649 7144 -0.03185783699154854 0.005040202289819717 11.777108192443848
select max(YEAR) from TABLE_NAME_38 where CAPACITY > 8<|end_of_text|>
3699 7144 -0.07880692183971405 0.005401379428803921 9.478199005126953
select sum(RANK) from TABLE_NAME_81 where NAME = "JAN" and POINTS < 6<|end_of_text|>
3749 7144 -0.07356159389019012 0.005556795746088028 10.953949928283691
select COUPLE_RANK from TABLE_NAME_53 where YEAR = "2005"<|end_of_text|>
3799 7144 0.03306301683187485 0.0028458242304623127 11.960034370422363
select RANK from TABLE_NAME_41 where YEAR < 2007<|end_of_text|>
3849 7144 -0.027706224471330643 0.0009628442930988967 10.294994354248047
select sum(ATTENDANCE) from TABLE_NAME_68 where LOSS = "1-1 (1-1)"<|end_of_text|>
3899 7144 0.04563683643937111 0.0026179004926234484 11.533748626708984
select CITY_OF_LICENSE from TABLE_NAME_93 where NETWORK = "MONTON"<|end_of_text|>
3949 7144 -0.07515359669923782 0.00829573068767786 12.616353988647461
select POSITION from TABLE_NAME_21 where LEAGUE = "MONTON"<|end_of_text|>
3999 7144 0.06155817210674286 0.002213984029367566 10.265551567077637
select HEIGHT__M_ from TABLE_13415890_2 where NAME = "tHORON mARLES"<|end_of_text|>
4049 7144 0.048768606036901474 0.003002421697601676 8.823775291442871
select GAMES from TABLE_NAME_90 where DECILE = "8–" and DECILE = "8–8" and NUMBER = "1–10"<|end_of_text|>
4099 7144 -0.0013612929033115506 0.003303761128336191 10.46274185180664
select PRODUCTION_CODE from TABLE_15887683_2 where WRITTEN_BY = "cON mARLES"<|end_of_text|>
4149 7144 0.015577021986246109 0.001481674495153129 11.1311674118042
select count(PRODUCTION_CODE) from TABLE_27902182_1 where NO_IN_SEASON = 8<|end_of_text|>
4199 7144 -0.022718995809555054 0.0016137195052579045 11.112031936645508
select RESULT from TABLE_1342258_43 where INCUMBENT = "tOY mARLES"<|end_of_text|>
4249 7144 0.043160196393728256 0.006338403560221195 10.8408784866333
select PLAYER from TABLE_11545282_18 where YEARS_FOR_JUNE = "2000-02"<|end_of_text|>
4299 7144 0.012429323978722095 0.0019671639893203974 11.620367050170898
select LANGUAGE from TABLE_NAME_22 where ORIGINAL_TITLE = "MONTON"<|end_of_text|>
4349 7144 0.029800932854413986 0.0009654535679146647 11.23930549621582
select MOUNTAINS_CLASSIFICATION from TABLE_12294526_2 where WINNER = "cHRIS mAR"<|end_of_text|>
4399 7144 0.11474153399467468 0.012800990603864193 10.307113647460938
select SCOR from TABLE_NAME_89 where DENSITY = "S" and HELIUMS = "JANU"<|end_of_text|>
4449 7144 -0.06220389902591705 0.0035504596307873726 11.207796096801758
select METHOD from TABLE_NAME_19 where OPPONENT = "MAY"<|end_of_text|>
4499 7144 -0.02516413852572441 0.006472351495176554 8.046723365783691
select 2003 as _PERCENTAGE__PERCENTAGE__PERCENTAGE__PERCENTAGE = "2003"<|end_of_text|>
4549 7144 -0.03762529417872429 0.0033106582704931498 6.554709434509277
select max(SEASON__MILLIONS_ from TABLE_19897294_5 where US_VIEWERS__MILLIONS_ = "2.31" and US_VIEWERS__MILLIONS_ = "198. 1985"<|end_of_text|>
4599 7144 -0.013034619390964508 0.0020648918580263853 11.456733703613281
select RESULT from TABLE_NAME_5 where DATE = "1979-17"<|end_of_text|>
4649 7144 -0.019967062398791313 0.0009111746330745518 11.375925064086914
select TRANSFER_FEE from TABLE_NAME_22 where NAME = "JAN"<|end_of_text|>
4699 7144 0.055831920355558395 0.00555883813649416 11.278610229492188
select PARTY from TABLE_NAME_19 where STREAK = "DALLAS"<|end_of_text|>
4749 7144 0.033656250685453415 0.002666783519089222 10.365604400634766
select max(ROUND) from TABLE_NAME_84 where POSITION = "DEFENSE" and PICK < 105<|end_of_text|>
4799 7144 0.02471710555255413 0.000949821260292083 10.877968788146973
select FIRST_TITLE from TABLE_NAME_41 where WINS < 8 and COUNTRY = "MAY"<|end_of_text|>
4849 7144 0.0062141502276062965 0.000661236816085875 12.319856643676758
select LOCATION from TABLE_NAME_83 where OPPONENT = "MAY"<|end_of_text|>
4899 7144 -0.0497279018163681 0.0023367954418063164 11.262635231018066
select max(DECILE) from TABLE_NAME_99 where AUTHORITY = "S" and AREA = 120<|end_of_text|>
4949 7144 -0.03936101496219635 0.002204237272962928 11.66419792175293
select OUTCOME from TABLE_NAME_7 where PARTNER = "MAY"<|end_of_text|>
4999 7144 -0.04050973802804947 0.002004724694415927 11.896471977233887
select SCOTT_S_ from TABLE_NAME_29 where SCOR = "MONTON"<|end_of_text|>
5049 7144 -0.11570229381322861 0.0131016094237566 11.225975036621094
select RECORD from TABLE_NAME_44 where DATE = "MAY 30"<|end_of_text|>
5099 7144 0.00037532643182203174 0.0010395984863862395 9.52194595336914
select HOST from TABLE_11950788_1 where MENS_SING = "cON mARLES"<|end_of_text|>
5149 7144 -0.04109100252389908 0.0022425150964409113 11.112874031066895
select RESULT from TABLE_1342013_34 where DISTRICT = "tEXAS 2"<|end_of_text|>
5199 7144 -0.19095073640346527 0.02072322927415371 9.391475677490234
select max(RANK) from TABLE_NAME_98 where RANK > 0.05 and TIME = "1:54.63"<|end_of_text|>
5249 7144 -0.008774655871093273 0.0025060423649847507 11.248050689697266
select NICKNAME from TABLE_25816443_3 where YEAR = 2002<|end_of_text|>
5299 7144 0.06762289255857468 0.0032787322998046875 10.356507301330566
select NAME from sTUDENT where dISTRICT = 'cON'<|end_of_text|>
5349 7144 0.041669219732284546 0.0031022061593830585 10.470564842224121
select CALL_SIGN from TABLE_NAME_34 where ROLL = "9.9"<|end_of_text|>

5399 7144 0.05023661628365517 0.001649458659812808 10.833001136779785
select count(YEAR) from TABLE_NAME_52 where LAUNCHED = "$19"<|end_of_text|>
5449 7144 -0.03004116378724575 0.0010667068418115377 9.751044273376465
select RACE from TABLE_NAME_15 where RACE = "4" and RESULT = "4"<|end_of_text|>
5499 7144 0.24664810299873352 0.18246722221374512 9.485268592834473
select TYRES from TABLE_27021023_4 where DENSITY = "1%"<|end_of_text|>
5549 7144 -0.028134746477007866 0.002870990429073572 10.095355987548828
select DURATION from TABLE_25816477_1 where LOCATION = "aMAY, mURNE"<|end_of_text|>
5599 7144 0.014672581106424332 0.0032644160091876984 9.444406509399414
select count(SEATS) from TABLE_NAME_71 where _PERCENTAGE_OF_POPULATION = "8.1%"<|end_of_text|>
5649 7144 1.2899353504180908 4.054957866668701 9.922690391540527
select 2002 from TABLE_NAME_38 where 2006 = "A" and 2006 = "A"<|end_of_text|>
5699 7144 -0.05323629081249237 0.008737629279494286 11.692553520202637
select QUAL from TABLE_NAME_6 where LAPS = 1250<|end_of_text|>
5749 7144 -0.012547646649181843 0.0008721314952708781 9.869244575500488
select NATIONALITY from TABLE_NAME_17 where ROUND < 2 and PICK < 2<|end_of_text|>
5799 7144 0.019941499456763268 0.0026679455768316984 11.770027160644531
select CHASSIS from TABLE_NAME_1 where YEAR = 1971<|end_of_text|>
5849 7144 0.06853397935628891 0.00353111419826746 9.055902481079102
select avg(NUMBER_OF_SEASON) from TABLE_NAME_65 where NUMBER_OF_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_SEASON_IN_TABLE = 17<|end_of_text|>
5899 7144 0.025606095790863037 0.0012887631310150027 11.726297378540039
select SCOTT from TABLE_NAME_43 where SCOTT = "MONTON"<|end_of_text|>
5949 7144 0.007734484970569611 0.0028544652741402388 10.837495803833008
select max(POSITION) from TABLE_NAME_95 where GOALS > 95<|end_of_text|>
5999 7144 -0.025931185111403465 0.0019754054956138134 11.753969192504883
select count(LOCATION from TABLE_22916979_2 where TOURNAMENT_WINNER = "cHOMAS"<|end_of_text|>
6049 7144 -0.014797843061387539 0.004607639741152525 11.790632247924805
select NATIONALITY from TABLE_24565004_22 where NAME = "cHOR"<|end_of_text|>
6099 7144 0.018251728266477585 0.002714285859838128 11.400014877319336
select NFL_TEAM from TABLE_16575609_5 where PLAYER = "tOY rACING"<|end_of_text|>
6149 7144 -0.026129815727472305 0.0010065865935757756 11.631402969360352
select LOCATION from TABLE_10597453_1 where SCORIAL = "24"<|end_of_text|>
6199 7144 0.006480290554463863 0.0030336612835526466 8.360834121704102
select AWARD from TABLE_NAME_74 where PARTY = "D" and YEAR = "1996"<|end_of_text|>
6249 7144 0.04167112708091736 0.0038628391921520233 10.645829200744629
select max(ATTENDANCE) from TABLE_NAME_1 where DATE = "8 APRIL 1986"<|end_of_text|>
6299 7144 0.020058132708072662 0.001112221390940249 11.882234573364258
select RESULT from TABLE_NAME_1 where WEEK = 11<|end_of_text|>
6349 7144 -0.07297457009553909 0.0037247559521347284 10.112815856933594
select TOTAL_POINTS from TABLE_23242945_2 where TOTAL_POINTS = "5-5"<|end_of_text|>
6399 7144 0.012490620836615562 0.004514337982982397 11.534051895141602
select COUPLE from TABLE_NAME_97 where BUILDER = "MAY 102"<|end_of_text|>
6449 7144 -0.018174288794398308 0.002148148138076067 9.795591354370117
select count(PERCENTAGE) from TABLE_NAME_78 where DENSITY = 4 and LOSSES > 3<|end_of_text|>
6499 7144 0.06554672867059708 0.010960676707327366 9.730171203613281
select max(OVERALL) from TABLE_NAME_4 where POSITION = "DEFENSE" and ROUND < 9<|end_of_text|>
6549 7144 0.06469196081161499 0.008862900547683239 11.448942184448242
select max(PICK) from TABLE_NAME_15 where POSITION = "DEFENSE"<|end_of_text|>
6599 7144 0.006640492472797632 0.005799080245196819 10.620759963989258
select count(NO) from TABLE_2110035_1 where RUNNER_S__UP = "cHRIS mAR"<|end_of_text|>
6649 7144 0.014114564284682274 0.0030067411717027426 11.590307235717773
select max(GRID) from TABLE_NAME_89 where DRIVER = "JAN"<|end_of_text|>
6699 7144 -0.0669294223189354 0.0066292136907577515 12.636469841003418
select count(COUNTRY) from TABLE_NAME_37 where TOTAL = 105<|end_of_text|>
6749 7144 0.10200615972280502 0.012487391009926796 11.5095853805542
select max(LOSSES) from TABLE_NAME_45 where GAMES > 25<|end_of_text|>
6799 7144 0.018044255673885345 0.0019734136294573545 10.867199897766113
select TOTAL_RANK from TABLE_NAME_3 where TOTAL_RANK = "49"<|end_of_text|>
6849 7144 -0.013979972340166569 0.001010519452393055 10.59678840637207
select COUPLE from TABLE_13564702_3 where DATE = "dECEMBER 70"<|end_of_text|>
6899 7144 0.0036529526114463806 0.003112677251920104 8.319761276245117
select t2.NAME from sTUDENT_cODE as t1 join sT as t2 on t2.TEAM_ID = t2.TEAM_ID where t2.TEAM_ID = t2.cODE_ID where t2.TEAM_ID<|end_of_text|>
6949 7144 -0.0024562005419284105 0.00042261212365701795 9.656656265258789
select max(GRID) from TABLE_NAME_31 where LAPS = 10 and DRIVER = "JAN"<|end_of_text|>
6999 7144 0.079612135887146 0.005586266051977873 9.187357902526855
select TEAM from TABLE_NAME_39 where YEAR = "1987" and COMPETITION = "MAY" and COMPETITION = "MONTON"<|end_of_text|>
7049 7144 -0.04327061399817467 0.0019131321460008621 8.109635353088379
select COUPLE from TABLE_NAME_55 where SCOTT = "JAN" and JONES = "JANIA" and SCOTT = "JAN"<|end_of_text|>
7099 7144 -0.036071524024009705 0.010477852076292038 9.105958938598633
select SCORE from TABLE_NAME_59 where DATE = "14 NOVEMBER 14, 1998" and SCORE > 10<|end_of_text|>